<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>CRUD em Node</title>
</head>
<style>
    .Header{
        background-color: cornflowerblue;
        padding: 25px;
    }
    .Header h1{
        color: #fff;
    }
    .Footer{
        background-color: #6E6E6E;
        padding: 30px;
    }
    .Footer P{
        color: #fff;
    }
    body{
        background-color: #A4A4A4;
    }
    .Margem{
        margin-top: 20px;
    }
    .Margem .alert{
        color: #fff;
    }
</style>
<body>
    <div>
        <img src="https://images.pexels.com/photos/1591060/pexels-photo-1591060.jpeg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-1591060.jpg&fm=jpg" width="100%" height="300">
    </div>
   <div class="container-fluid Header">
       <h1 class="text-center">CRUD</h1>
        <h1 class="text-center">CREATE - RENAME - UPDATE - DELETE</h1>
   </div>
   <div class="container Margem">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 100%;">
                    <img src="https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?cs=srgb&dl=pexels-lukas-574071.jpg&fm=jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title text-center">Cadastrar Novos Usuários</h5>
                      <a href="/cadaster" class="btn btn-outline-primary shadow">Cadastrar</a>
                    </div>
                </div>
            </div> 
            <div class="col-md-4">
                <div class="card" style="width: 100%;">
                    <img src="https://images.pexels.com/photos/3808904/pexels-photo-3808904.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-3808904.jpg&fm=jpg" class="card-img-top">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 100%;">
                    <img src="https://images.pexels.com/photos/3243/pen-calendar-to-do-checklist.jpg?cs=srgb&dl=pexels-breakingpic-3243.jpg&fm=jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title text-center">Exibir Usuários Cadastrados</h5>
                      <a href="/show" class="btn btn-outline-primary shadow">Listar</a>
                    </div>
                </div>
            </div>
        </div>
  </div>
 <footer class="Footer">
     <p class="text-center P">&copy; Desenvolvido por Ednaldo Conceição!</p>
     <p class="text-center p">Desafio da Disciplina de Computação para Dispositivos Móvel</p>
     <p class="text-center p">4ª Semestre em Análise e Desenvolvimento de Sistemas</p>
 </footer>  
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>